<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        Test Description
    </title>
    <script>
        PREF_URL = '../../';
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../public/js/loading.js"></script>
    <script src="../../public/js/headerScript.js"></script>
    <script src="../../public/js/ripple.js" defer></script>

    <link rel="stylesheet" href="../../public/css/main.css"/>
    <link rel="stylesheet" href="../../public/css/button.css"/>
    <link rel="stylesheet" href="../../public/css/loading.css"/>

    <link rel="stylesheet" href="../../public/css/form.css"/>
    <link rel="stylesheet" href="../../public/css/test.css"/>
    <link rel="stylesheet" href="../../public/css/popup.css"/>
    <script src="../../public/js/changingAnswer3.js"></script>
    <script src="../../public/js/changingQuestion3.js"></script>
    <script src="../../public/js/admin.js"></script>
    <script src="../../public/js/init.js"></script>
    <script src="../../public/js/timer3.js"></script>
    <script src="../../public/js/popup.js"></script>
</head>

<body class="body" id="headBody">
<header class="header" id="header">
    <a id="logo" href="http://Google.com" target="_blank">  </a>
    <div id="optionContainer">
        <div id="logInOutContainer">
            <a id='profileLink' href='http://127.0.0.1:8888/profile'>
                <img id='accountPhoto' src=''>
                <div id="accountDetails"></div>
            </a>
            <div id="logInOut" class="button"></div>
        </div>
    </div>
</header>
<!--
<div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle medium shade4'></div>
    <div class='circle small shade5'></div>
</div> -->


<script>
    testId = '<%= test_id %>';
    courseName = '<%= course %>';
</script>

<div class="backgroundSection">
    <aside id="infoBar">
        <div id="timerCapsul">
            <label for="timerBar">
                Start Time:
            </label>
            <div class="timer" id="timerBar"></div>
        </div>

        <div class="capsul">
            <label for="totques">
                Total number of questions:
            </label>
            <div class="testInfo" id="totques"></div>
        </div>

        <div class="capsul">
            <label for="duration">
                Test Duration:
            </label>
            <div class="testInfo" id="duration"></div>
        </div>
        <div class="capsul">
            <label for="cduration">
                Test Correction Duration:
            </label>
            <div class="testInfo" id="cDuration"></div>
        </div>


    </aside>
    <aside id="submitBar">
        <div id="submitBSection">
            <button id='submitB' class='button' onclick='askToEnd()'>Back</button>
        </div>
    </aside>


    <div id="quesContainer">
        <div id='quesTitleAndMark'>
            <div>
                Question <b id="quesNumb"></b>
            </div>
            <div id='quesMark'></div>
        </div>

        <div id="textQuesSec">
            <p></p>
            <hr/>
        </div>

        <div id="optionsSec"></div>

        <hr style="width: 100%; height: 5px; background-color: black;"/>
        <div id="pageMovCtrl">
            <div class="itemCtrl" id="numberCtrl">
                <div class="movTo" id="first">
                    <img src="../../public/icon/left_arrow2.png" alt="1" onclick="changeQues(1)"/>
                </div>
                <div class="movTo" id="prev">
                    <img src="../../public/icon/left_arrow1.png" alt="P" onclick="changeQues(currQues - 1)"/>
                </div>
                <div class="movTo" id="list">
                    ...
                </div>
                <div class="movTo" id="next">
                    <img src="../../public/icon/right_arrow1.png" alt="N" onclick="changeQues(currQues + 1)"/>
                </div>
                <div class="movTo" id="last">
                    <img src="../../public/icon/right_arrow2.png" alt="L" onclick="changeQues(totques)"/>
                </div>
            </div>
        </div>
    </div>

    <script>
        startLoading();
        $(document).ready(() => {
            teacherTest();
            setTimeout(() => {
                startTimer();
                buildList();
                buildQuestion();
                setTimeout(()=>{
                    stopLoading();
                },1000);
            }, 1000);
        });
    </script>


</div>
<footer class="footer">
    <div>
        <div id="footerTitle">Tester Online</div>
        <br/>
        <div id="footerSubTitle">

        </div>
    </div>
</footer>

</body>

</html>